@model IEnumerable<Wardrobe.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

@{
    int numberOfSlides = Model.Count();
}
<h2 class="wardrobeHeader">Bottoms</h2>
<span><a href="@Url.Action("Index","Bottoms")" class="btn btn-primary btn-lg wardBTN">All Bottoms &raquo;</a></span>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        @{
            for (int i = 1; i <= numberOfSlides; i++)
            {
                <li data-target="#myCarousel" data-slide-to="@i;"></li>
            }
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="carouselIMG" src="~/Content/Images/Bottoms/pants.jpg" alt="Los Angeles">
            <a href="@Url.Action("Create","Bottoms")" class="btn btn-primary btn-lg carouselBTN">Add Bottoms &raquo;</a>
        </div>
        @foreach (var item in Model)
        {
            <div class="item">
                <img class="carouselIMG" src="@Html.DisplayFor(modelItem => item.BottomPhoto)" alt="">
                <a href="@Url.Action("Create","Bottoms")" class="btn btn-primary btn-lg carouselBTN">Add Bottoms &raquo;</a>
                <span><a href="@Url.Action("Edit", "Bottoms", new { id=item.BottomID })" class="btn btn-primary btn-lg inCarouselBTN">Edit &raquo;</a></span>
                <span><a href="@Url.Action("Details", "Bottoms", new { id=item.BottomID })" class="btn btn-primary btn-lg inCarouselBTN">View &raquo;</a></span>
                <span><a href="@Url.Action("Delete", "Bottoms", new { id=item.BottomID })" class="btn btn-primary btn-lg inCarouselBTN">Delete &raquo;</a></span>
            </div>
        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
