@model Wardrobe.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2 class="wardrobeHeader">Details</h2>

<div class="containerDetails">
    <div class="container ">
        <div class="row ">

            @*Empty Divs used to create spacing*@
            
            <div class="col-md-2"></div>

            @*Divs inside of divs to create more information one side becareful which divs are messed with*@

            <div class="col-md-8">
                <div class="panel panel-default  panel--styled">
                    <div class="panel-body">

                        @*Items image shows to the left inside a card*@

                        <div class="col-md-12 panelTop">
                            <div class="col-md-4">
                                <img class="img-responsive" id="stars" src=@Html.DisplayFor(model => model.TopsPhoto) />
                            </div>

                            <div class="col-md-4">
                            </div>

                            @*All of the items information is shifted to the right while inside a card*@

                            <div class="col-md-4">
                                <h4>@Html.DisplayFor(model => model.TopsName)</h4>
                                <h4>Style: @Html.DisplayFor(model => model.TopsType.Type)</h4>
                                <h4>Color: @Html.DisplayFor(model => model.Color.Color1)</h4>
                                <h4>Occasion: @Html.DisplayFor(model => model.Occasion.Occasion1)</h4>
                                <h4>Season: @Html.DisplayFor(model => model.Season.Season1)</h4>
                            </div>
                        </div>

                        @*Buttons on bottom of card to allow editing and going back to prev. page*@

                        <div class="col-md-12 panelBottom">
                            <div class="col-md-4 ">
                                <a class="btn btn-lg btn-default wardBTN detailBTN" href="@Url.Action("Index", "Tops")">Go Back &raquo;</a>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-lg btn-default wardBTN detailBTN" href="@Url.Action("Edit", "Tops", new { id=Model.TopsID })">Edit &raquo;</a>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-lg btn-default wardBTN detailBTN" href="@Url.Action("Delete", "Tops", new { id=Model.TopsID })">Delete &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2"></div>

        </div>
    </div>
</div>
