<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Anton|Indie+Flower|Libre+Baskerville|Roboto+Slab" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Wardrobe Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="@Url.Action("About", "Home")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Apparel<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Create", "Tops")">Add Tops <span class="glyphicon glyphicon-play"></span></a></li>
                            <li><a href="@Url.Action("Create", "Bottoms")">Add Bottoms <span class="glyphicon glyphicon-play"></span></a></li>
                            <li><a href="@Url.Action("Create", "Shoes")">Add Shoes <span class="glyphicon glyphicon-play"></span></a></li>
                            <li><a href="@Url.Action("Create", "Accessories")">Add Accessories <span class="glyphicon glyphicon-play"></span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("About", "Home")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apparel <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Tops")">Tops <span class="glyphicon glyphicon-play"></span></a></li>
                            <li><a href="@Url.Action("Index", "Bottoms")">Bottoms <span class="glyphicon glyphicon-play"></span></a></li>
                            <li><a href="@Url.Action("Index", "Shoes")">Shoes <span class="glyphicon glyphicon-play"></span></a></li>
                            <li><a href="@Url.Action("Index", "Accessories")">Accessories <span class="glyphicon glyphicon-play"></span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("About", "Home")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Outfits <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create <span class="glyphicon glyphicon-play"></span></a></li>
                            <li><a href="#">Saved <span class="glyphicon glyphicon-play"></span></a></li>
                            <li><a href="#">Random <span class="glyphicon glyphicon-play"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 4GBG Wardrobe Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
